input {
	border: solid 5px black;
	height: 2em;
}

.container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cardstyle {
	border: solid 5px black;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cardstyle:nth-child(2n+1) {
	background: aqua;
}

.cardstyle:nth-child(2n+2) {
	background: gold;
}

.portraits {
	width: 200px;
	height: 200px;
}

p {
	width: 150px;
}

.dottedBorder {
	border: dotted 5px green;
}